.page {
  
}

section {
  background: lighten(#efefef,10);
  margin-bottom: 2em;
  @include outer-container;
  border-radius: 5px;
  padding: golden-ratio(15px, -1);

}

header[role="banner"] {
  @include outer-container;
  display:block;
}