// -------------------------- //
// 
//
// ENews Signup. 
// 
// --------------------------------------------------------------- 
.newsletter {}

// Header
.newsletter-header {}
.newsletter-title {}

// Content
.newsletter-content {}
.newsletter-text {}
.newsletter-link {}
.newsletter-list {}
.newsletter-item {}
.newsletter-item-link {}

// Footer
.newsletter-footer {}
.newsletter-footer-text {}
.newsletter-suprise-and-delight {}


// -------------------------- //
// 
//
// Monthly Giving Signup. 
// 
// --------------------------------------------------------------- 

.monthly-support {
  @include outer-container;

}

.monthly-options {
  @include shift(1);
  @include span-columns(9 of 12);
  
}
.monthly-radio {
  @include span-columns(3 of 9);
  @include omega(3n);
  text-align: center;
  background: #fff;
  margin-bottom: 2.35765%
  }

.monthly-amount {
  display: block;
  @include font-size(strip-units(golden-ratio(15px, 2))/10);
}

   
// --------------------------------//
// One time donations
//
// --------------------------------------------------------------- //
.one-time-support {}

// Header
.one-time-support-header {}
.one-time-support-title {}

// Content
.one-time-support-content {}
.one-time-support-text {}
.one-time-support-link {}
.one-time-support-list {}
.one-time-support-item {}
.one-time-support-item-link {}

// Footer
.one-time-support-footer {}
.one-time-support-footer-text {}
