body {
  background: lighten(#f6ff8b, 16);
  background: palette(teal);
  font-family: $lucida-grande;
}

.monthly-amount {

}

.page {
  @include outer-container;
}

.division {
  text-align: center;
  border-bottom: 1px solid white;
  margin-bottom: 4.5em;
}

.division h2 {
  margin-bottom: 1.5em;
  text-transform: uppercase;
  color: palette(teal, dark);
  font-weight: 100;
  display: inline-block;
  position: relative;
  font-size: 1em;
  top: 31px;
  background: palette(teal);
  padding: 0 10px;
  
}

.main {
  @include span-columns(4);
}

.column {
  @include span-columns(8);
  @include shift(4)
}