@media print {

  html {
    background: white;
  }

.share-icons, 
.related-recipes, 
#masthead, 
.recipe-serving-size, 
.recipe-categories, 
.single-recipe-footer, 
.footer-about-kitchen, 
.footer-about-dtes,
#wpadminbar {
  display:none;
}

footer[role="contentinfo"] {
  background: none;
}

.footer-about-rb {
  font-size: .8rem;
  font-style: italic;
 h2 {
  display:none;
 }
}

}