h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

body {
  font-family: $serif;
  color: #222;
}

h4 {
  font-family: $serif;
}

.label {
  text-transform: uppercase;
  font-family: $lucida-grande;
  @include font-size( modular-scale(16px,   -1, $typography-ratio) );
  font-weight: 900;
}