.page-title {
  margin-bottom: 1.5rem;
  border-bottom: 3px solid palette(accent);
  border: none;
    @include media(769px){
      padding-top: 3rem;
      font-size: 3rem; 
    }
}

.ingredient-archive-description {
  padding: $gutter;
  background: #7ABCD2;
}